<div class="top-bar">
  <div class="">
</div>

<div class="containerd">
  <aside class="control col-md-3 col-lg-2 col-sm-4">
    <h3> Rooms </h3>
    <p> lol </p>

    <div class="room-error"></div>
    <%= form_for Room.new, remote: true do |f| %>
      <%= f.text_field :name, minlength: "3", maxlength: "10", placeholder: "Room name", class: "form-input", required: true %>
      <%= f.submit "Create", class: "form-submit" %>
    <% end %>

  </aside>


  <div class="chat col-md-9 col-lg-10 col-sm-8">
    <h3 class="chat-title"> Chat </h3>
    <div id="chat-container">

    </div>
    <div class="chat-insert">
      <textarea placeholder="Sua mensagem aqui..." id="compose" rows="1" data-room-id="1"></textarea>
    </div>
  </div>
</div>
