$(document).on('page:change', function () {

//================================ [Current User] ====================

cUser = {};
cUser.id = userId;
cUser.name = userName;
cUser.photo = userPhoto;
cUser.notificationSupport = !!("Notification" in window);
cUser.notificationPermit = cUser.notificationSupport && (Notification.permission === "granted");
cUser.cRoomId = getCookie("lastRoom");
cUser.cRoomModerator = false;
//currentUser.alertRooms = [];

//=================================================================

var notificationSound = new Audio('<%= asset_path "notification.mp3" %>');

lastRoom = getCookie("lastRoom"); // The last room visited

if (lastRoom && ($(".room-tab[data-id="+ lastRoom +"]").length > 0)) {// if a room preference exists  && it exists in the DOM
		roomTabbing(lastRoom); // show it
	}

	window.addEventListener("popstate", function(e) {

		// return to last state
		if (e.state && e.state.section == "chat") {

			roomTabOut();
			$(".chat").addClass("hidden-mobile");
			$(".control").removeClass("hidden-mobile");
			windowTabbing("main");

		}

	});

// ============================[ Window logic] =================

$(".room-new").click(function() {

	windowTabbing("room-new");

});

$(".side-back").click(function() {

	windowTabbing("main");

});

$(".room-back").click(function() {

	roomTabOut();
	$(".chat").addClass("hidden-mobile");
	$(".control").removeClass("hidden-mobile");

});

$(".profile-edit").click(function() {

	windowTabbing("profile-edit");

});

$(".room-edit").click(function() {

	roomId = $(".room-active").attr('data-id');

	history.pushState({section: "chat"}, "Editing", "");

	windowTabbing("ajax-content");
	//add a spinner

	$.ajax({
			url: "/room/edit/" + roomId,
			type: "GET",
			success: function(data, textStatus) {

			}
		});

});

$("img, .message-content").click(function() {
	$(this).toggleClass("expanded");
});


function windowTabbing(name){

	target = $(".window-"+ name)

	$(".window").addClass("hidden");
	target.removeClass("hidden");
	$(".side-title").text(target.attr("data-name"));

	if (name != "main"){
		$(".side-back").removeClass("hidden");
		$(".side-actions").addClass("hidden");
	}
	else
	{
		$(".side-back").addClass("hidden");
		$(".side-actions").removeClass("hidden");

	}

}
// ============================[ Room logic] =============

// Show landing

$(".explore").click(function() {

	$(".chat-title").text("Popular"); // resets the name to Lero
	$(".room-actions").addClass("hidden");
	$(".landing").removeClass("hidden");
	$("#compose").addClass("hidden");
	$(".room").removeClass("room-active");
	$(".room-tab").removeClass("room-tab-active");
	$(".landing-intro").addClass("hidden");
	$("#chat-container").addClass("full-height");
	$(".form-username").addClass("hidden");
	windowTabbing("main");
	displayChat();
});

//Join a room

$(".room-pick").click(function() {

	roomId = $(this).attr('data-id');
	roomName = $(this).text();
	$(this).remove();

	$.ajax({
			url: "/room/join/" + roomId,
			type: "POST",
			complete: function(data) {

				$(".room-tabs").append("<li data-id="+ roomId +" class='room-tab'> "+ roomName + " </li>");
				$("#chat-container").append("<div class='room room-active' data-id="+ roomId +"> </div>");
				roomTabbing(roomId);

			}
	});
});


$(".room-card").click(function() {

	roomId = $(this).attr('data-id');
	roomName = $("h6",this).text();

	if ($(".room-tab[data-id="+ roomId +"]").length > 0) {
		roomTabbing(roomId);
	}
	else {

		$.ajax({
				url: "/room/join/" + roomId,
				type: "POST",
				complete: function(data) {
					$(".room-tabs").append("<li data-id="+ roomId +" class='room-tab'> "+ roomName + " </li>");
					$("#chat-container").append("<div class='room room-active' data-id="+ roomId +"> </div>");
					roomTabbing(roomId);
				}
		});
	}

});


// Select a room

$('html').on('click', ".room-tab", function(){

	roomTabbing($(this).attr('data-id'));

});

//Leave a room

$(".room-leave").click(function() {

	roomId = $(".room-active").attr('data-id');

	$.ajax({
			url: "/room/leave/" + roomId,
			type: "POST",
			complete: function(data) {
				$(".room-tab[data-id="+ roomId +"]").remove(); //remove the tab from DOM
				$(".room-active").remove();// remove this room
				roomTabbing(); // leave room
			}
		});

});

$(".room-hotlink").click(function() {

	roomId = $(".room-active").attr('data-id');

	$.ajax({
			url: "/room/share/" + roomId,
			type: "GET",
			success: function(data, textStatus) {

				link = data.shareurl
				message = I18n.t("sharelink") + "<a href= "+ link + ">" + "http://lerochat.com/join/"  + link + "</a> <br/>"
				message = message + I18n.t("websiteshare") + "&lt;iframe width='300' height='500' src='http://lerochat.com/join/" + link + "&quot;'&gt; &lt;/iframe&gt;"
				leroyPrint(message, roomId);
				chatbottom();

			}
		});

});

var userBanMode;

$(".room-ban").click(function() {

	roomId = $(".room-active").attr('data-id');
	if (cUser.cRoomModerator && !userBanMode){

		userBanMode = true;
		$(".room-active").addClass("ban-mode");
		leroyPrint(I18n.t("selectmessage"), roomId);

	}
	else {
		removeBanMode();
	}

});

$('#chat-container').on('click', ".message-content", function(){

	if (userBanMode){
		targetUser = $(this).attr("data-user-id");
		roomId = $(".room-active").attr('data-id');

		if (targetUser == -1){
			leroyPrint(I18n.t("notme"), roomId);
			chatbottom;
			removeBanMode();
			return;
		}

		$.ajax({
				url: "/room/ban",
				type: "POST",
				data: {
					roomId: roomId,
					userId: targetUser,
				},
				success: function(data) {
					removeBanMode();
					if (data.status == "success"){
						leroyPrint(I18n.t("userbanned"), roomId);
					}
					else{
						leroyPrint(I18n.t("usercantbanned"), roomId);
					}
				}
			});
		}

});

function removeBanMode() {

	userBanMode = false;
	$(".room-active").removeClass("ban-mode");

}

// Switches room

function roomTabOut() {

		$(".room").removeClass("room-active"); // all rooms hide
		$(".room-tab").removeClass("room-tab-active"); // Remove all rooms as active
		$(".room-actions").removeClass("hidden");
		setCookie("lastRoom", ""); // saves preference
		cUser.cRoomId = "";

}

function roomTabbing(roomId) {

	targetRoom = $(".room-tab[data-id="+ roomId +"]")[0];
	cUser.cRoomModerator = eval($(targetRoom).attr("data-moderator"));

	if (!roomId){ // Room not set

		if ($(".room-tab").length > 0) { // if another room exists...
			roomId = $(".room-tab").last().attr("data-id");
		}
		else {
			$(".chat-title").text("Lero"); // resets the name to Lero
			$(".room-actions").addClass("hidden");
			$(".landing").removeClass("hidden");
			$("#compose").addClass("hidden");
			setCookie("lastRoom", ""); // saves preference
			cUser.cRoomId = ""; // saves on the object
			return;
		}
	}

	displayChat();

	if (cUser.cRoomModerator){
		$(".mod-actions").removeClass("hidden");
	}
	else{
		$(".mod-actions").addClass("hidden");
	}

	$(".form-username").removeClass("hidden");
	$("#chat-container").removeClass("full-height");

	$(".landing").addClass("hidden");
	$("#compose").removeClass("hidden");

	$('#compose').attr('data-room-id', roomId); // change the input target
	$(".room").removeClass("room-active"); // all rooms hide

	$(".room-tab").removeClass("room-tab-active"); // Remove all rooms as active
	$(".room-tab[data-id="+ roomId +"]").addClass("room-tab-active"); // this room mark as active
	$(".room-tab[data-id="+ roomId +"]").removeClass("room-tab-new"); // Remove new room notifications

	$(".room[data-id="+ roomId +"]").addClass("room-active"); // then show the target room

	name = $(".room-tab[data-id="+ roomId +"]").text();
	$(".chat-title").text(name) // change the header

	$(".room-actions").removeClass("hidden"); // show actions

	chatbottom(); // scroll to bottom
	setCookie("lastRoom", roomId); // saves preference
	cUser.cRoomId = roomId; // saves on the object

}

//==============================[ CHAT BOX ]==============

//	var intervalID = window.setInterval(poll, 1500);
	originalTitle = $(document).find("title").text();
//	window_focus = true;
	lastId = 0;
	notSeen = 0;
	window_focus = true;
	firstPoll = true;
	poll();

// Attach a notification number to web page title
	$(window).focus(function() {

			document.title = originalTitle;
			notSeen = 0;
			window_focus = true;
			//clear notification title
		}).blur(function() {
			window_focus = false;
	});

// Scrolls bottom when it's called

function chatbottom() {
 var objDiv = document.getElementById("chat-container");
 objDiv.scrollTop = objDiv.scrollHeight;
}

// Fires for updates
function poll() {

activeTab = parseInt($(".room-tab-active").attr("data-id"));

	$.ajax({
	    url: "/message/receive/" + lastId,
	    type: "GET",
	    complete: function(data) {
				response = data.responseText;

				$(jQuery.parseJSON(response)).each(function() {

					createdAt = new Date(this.created_at) //convert to JS time format

					chatPrint(this.id, this.message, this.room, createdAt, this.userid, this.username, this.photo, this.image_content);

					if (lastId < this.id){
						lastId = this.id;					// for pinging more messages
					}

					if ($(".room-tab-active").length > 0){
						chatbottom();
					}

					if (!firstPoll && localStorage.lastSaw < lastId && activeTab != this.room) {
						$(".room-tab[data-id="+ this.room +"]").addClass("room-tab-new"); // Alert tabs
					}

					if (!firstPoll && !window_focus){
					notSeen += 1;
					notificationSound.play();
					}

				});

				localStorage.lastSaw = (lastId - notSeen);
				firstPoll = false;
				setTimeout(poll, 1300);

			}
	});

	if (notSeen > 0 && !window_focus) {
		document.title = "("+ notSeen +") " + originalTitle;
	}

}

 // Auto resize textarea on typing
/*
 function autoline(e) {
   $(e).css({'height':'auto','overflow-y':'hidden'}).height(e.scrollHeight);
 }
 $('textarea').each(function () {
   autoline(this);
 }).on('input', function () {
   autoline(this);
 });
*/

//Send on enter press

$("#compose").keypress(function (e) {
    if (e.which == 13 && !e.shiftKey) {

			if ($(this).val() == ""){
				return false;
			}

			sendMessage = $(this).val();
			sendLink = $('#link').val();

			sendRoom = $(this).attr("data-room-id");

			createdAt = new Date();
			chatPrint(-1, sendMessage, sendRoom, createdAt, cUser.id, cUser.name, cUser.photo); // send a user message with -1 id to be removed
			chatbottom();

			$.ajax({
					url: "/message/send",
					type: "POST",
					data: {
						roomId: sendRoom,
						message: sendMessage,
						link: sendLink,
					},
					success: function() {
					}
				});

			$('#link').val("");
			$(this).val("");
      e.preventDefault();
      }
  });

// ======== Session logic =======

$(".login-button").click(function() {

	$(".form-login").removeClass("hidden");
	$(".form-new-user").addClass("hidden");

	$("#chat-container").removeClass("full-height");
	$(".form-username").removeClass("hidden");

	displayChat();

});

//======== Hello and goodbye ===========

$.ajax({
		url: "/user/hello",
		type: "POST",
		data: {
		},
		success: function() {
		}
	});

	window.onbeforeunload = function(e) {
		$.ajax({
				url: "/user/goodbye",
				type: "POST",
				data: {
				},
				success: function() {
				}
			});
	};
//=============================

$('#compose').on('paste', function () {

	textbefore = $(this).val().length; // get the lenght of the text before pasting

  var element = this;
  setTimeout(function () {
    textAfter = $(element).val(); // text after
		link = textAfter.substring(textbefore); // text after - text before

		if (isUrl(link)){
			$('#link').val(link);
		}

  }, 100);
});

 //==================================

function displayMenu(){

	$(".chat").addClass("hidden-mobile");
	$(".control").removeClass("hidden-mobile");

}

function displayChat(){

	$(".chat").removeClass("hidden-mobile");
	$(".control").addClass("hidden-mobile");

	history.pushState({section: "chat"}, I18n.t('chat'), "");

}

$(".toggle-console").click(function(){

	$("#console").toggleClass("console-show");

});

function chatPrint(id, message, roomId, createdAt, userId, userName, userPhoto, mediaContent) {

	if (!userPhoto){
			userPhoto = "<%= asset_path 'user-default.png' %>"
	}

	timeAgo = (jQuery.timeago(createdAt));

	lastRoomUser = $(".message-content",".room[data-id="+ roomId +"]").last().attr('data-user-id') || 0

	if (userId != lastRoomUser) {
		$(".room[data-id="+ roomId +"]").append("<div class='message'> <div class='message-user-photo'> <img src='"+ userPhoto +"'/></div><div class='message-info-content'><span class='message-user-name'> "+ userName +" </span> <span class='message-time'> "+ timeAgo +"</span> 	<div class='message-content' data-id='"+ id +"' data-user-id='"+ userId +"'>" + message + "</div></div></div>");
	}
	else {
		$(".message-info-content",".room[data-id="+ roomId +"]").last().append("<div class='message-content' data-id='"+ id +"' data-user-id='"+ userId +"'>" + message + "</div>");
		$(".message-time",".room[data-id="+ roomId +"]").last().text(timeAgo);
	}

	if (id > 0 && userId == cUser.id){// if this is not a local user message...
		$(".message-content[data-id='-1']").remove();// remove the user message
	}

	if (mediaContent){
		$(".message-content",".room[data-id="+ roomId +"]").last().append("<img src="+ mediaContent +" />");
	}

}

function leroyPrint (message, roomId){ // Print a client-side message as leroy

	createdAt = new Date();
	chatPrint("", message, roomId, createdAt, -1, I18n.t('leroypm'), "<%= asset_path 'leroy.png' %>");

}

function isUrl(str) { //Stackoverflow
  var pattern = new RegExp('^(https?:\\/\\/)?'+ // protocol
  '((([a-z\\d]([a-z\\d-]*[a-z\\d])*)\\.?)+[a-z]{2,}|'+ // domain name
  '((\\d{1,3}\\.){3}\\d{1,3}))'+ // OR ip (v4) address
  '(\\:\\d+)?(\\/[-a-z\\d%_.~+]*)*'+ // port and path
  '(\\?[;&a-z\\d%_.~+=-]*)?'+ // query string
  '(\\#[-a-z\\d_]*)?$','i'); // fragment locator
  return pattern.test(str);
}

function setCookie(cname, cvalue) {
    var d = new Date();
    d.setTime(d.getTime() + (20*12*30*24*60*60*1000));
    var expires = "expires="+d.toUTCString();
    document.cookie = cname + "=" + cvalue + "; " + expires;
}

function getCookie(cname) {
    var name = cname + "=";
    var ca = document.cookie.split(';');
    for(var i=0; i<ca.length; i++) {
        var c = ca[i];
        while (c.charAt(0)==' ') c = c.substring(1);
        if (c.indexOf(name) == 0) return c.substring(name.length,c.length);
    }
    return "";
}

});
