// Place all the styles related to the Main controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
$border-color: #DEE1E5;
$primary-color: #00cc00;
$anchor-color: #565656;

ul, li{
  list-style-type: none;
  margin: 0;
  padding: 0;
}

#console{
  display: none;
}

.console-show{
  display: block !important;
}

.top-bar{
  height: 50px;
  background-color: $primary-color;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 100;
}
//=========
.control{
//  background-color: #4CDB4C;
  height: calc(100vh - 50px);
//    color: white;
  border-right: 1px solid $border-color;
}

.containerd{
  margin-top: 50px;
}

.chat{
  height: calc(100vh - 50px);
}

#chat-container{
  overflow-y: scroll;
  height: calc(100vh - 150px);

}

.chat-title{
  border-bottom: 1px solid $border-color;
  margin-top: 7px;
  margin-bottom: 0;
  padding-bottom: 5px;

}

.chat-insert{

  position: absolute;
  bottom: 0;
  width: 100%;
  /* margin: 10px 0; */
  padding: 7px 10px 7px;
  left: 0;
  border-top: 1px solid $border-color;

  textarea{
  outline: none;
  resize: none;
  width: 100%;
  border: none;
  padding: 7px 7px 4px 7px;
  font-size: 125%;
  border-radius: 7px;
  }
}

.form-username{

  h3{
    margin: 0;
    display: inline-block;
    font-weight: normal;
  }

  form{
    display: inline-block;
    width: 50%;
  }
  input{
    width: 100%;
    display: inline-block;
    outline: none;
    resize: none;
    border: none;
    padding: 7px 7px 4px 7px;
    font-size: 125%;
    border-radius: 7px;
  }

}

.chat::-webkit-scrollbar-track {
    background: rgba(255,255,255,.2);
}
.chat::-webkit-scrollbar {
    width: 6px!important;
}
.chat::-webkit-scrollbar-thumb {
    background-color: rgba(0,0,0,.5);
}

.message{

  margin: 10px 0;
}

.message-user-photo{

  display: inline-block;
  width: 50px;
  vertical-align: top;
  margin-top: 5px;

 img{
  width: 40px;
  height: 40px;
  border-radius: 50%;
  }

}

.message-info-content{
  width: calc(100% - 55px);
  display: inline-block;
}

.message-user-name{
  display: inline;
  vertical-align: top;
  font-weight: bold;
}

.message-content{
  display: inline-block;
  width: 100%;
  line-height: 1.3;
  word-break: break-word;
  p{
    margin: 0;
  }
}

.message-content + .message-content {
    padding-top: 5px;
}

.message-time{

  float: right;
  color: #696969;

}

.room-tab{
  cursor: pointer;
  font-size: 18px;
  padding: 3px 10px;
}

.room-tab-active{
  background-color: #00cc00;
  color: #fff;
}

.room-tab-new{
  background-color: #FF9C19;
  color: #fff;
}

.room{
  display: none;
}

.room-active{
  display: block !important;
}
