// Place all the styles related to the Main controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
$border-color: #DEE1E5;
$primary-color: #0857D6;
$anchor-color: #565656;

.top-bar{
  height: 50px;
  background-color: #00cc00;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 100;
}

.control{
  background-color: #4CDB4C;
  height: calc(100vh - 50px);
  color: white;
}

.containerd{
  margin-top: 50px;
}

.chat{
  height: calc(100vh - 50px);
}

.chat-title{
  border-bottom: 1px solid $border-color;
  margin-bottom: 5px;
  padding-bottom: 5px;
}

.chat-insert{

  position: absolute;
  bottom: 0;
  width: 98%;
  margin: 10px 0;

  textarea{
  resize: none;
  width: 100%;
  border: 1px solid $border-color;
  padding: 7px 7px 4px 7px;
  font-size: 125%;
  }
}
