// Place all the styles related to the Main controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
$border-color: #DEE1E5;
$primary-color: #02B902;
$anchor-color: #565656;

@mixin user-select {
  user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
}

ul, li{
  list-style-type: none;
  margin: 0;
  padding: 0;
}
h3{
  font-weight: normal;
  font-size: 20px;
}

body{
-webkit-font-smoothing: antialiased;
letter-spacing: -0.003em;
}

#console{
  display: none;
}

.console-show{
  display: block !important;
}

.top-bar{
  height: 50px;
  background-color: $primary-color;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 100;
}

.top-side{
  width: 320px;
}

.logo {
    width: 50px;
    height: 50px;
    padding: 5px;
//    background-color: rgba(0,0,0,0.16);
    vertical-align: top;
    display: inline-block;
    margin: 0;
    cursor: pointer;
}

.profile-card{
  color: #fff;
  font-size: 20px;
  cursor: pointer;
  float: right;
  padding: 0 10px;
  margin: 0;
  display: inline-block;
  transition: background-color 0.1s linear;

  img{
    width: 50px;
    height: 50px;
    padding: 7px;
    border-radius: 50%;
  }
}

.profile-card:hover{
  background-color: rgba(0,0,0,0.36);
}
//===================

.landing{
  width: 100%;
  text-align: center;
  padding: 15px 0;
  min-height: 100%;

//  background-color: #016F01;
//  color: #fff;

  img{
    width: 175px;
    height: 175px;
//    background-color: #fff;
    border-radius: 50%;
  }

  h1{
    margin: 10px 0 5px;
    font-size: 50px;
    font-weight: 200;
  }

  p{
    font-size: 22px;
    margin: 0;
  }

  h3{
    margin: 30px 0 10px;
    font-weight: 300;
    font-size: 25px;
  }

}

.room-popular{
  padding: 0 15%;
  margin: 0 auto;
}


.room-card{
  width: 340px;
  text-align: left;
  float: left;
  margin: 10px 10px 0;
  padding: 10px 15px;
  cursor: pointer;
  transition: background-color 0.05s linear;
  word-wrap: break-word;
  img{
    width: 50px;
    height: 50px;
  }

  h6{
    margin: 0 0 5px;
    vertical-align: top;
    font-size: 20px;

  }

  p{
    font-size: 16px;
    line-height: 1.24;
    height: 38px;
    overflow: hidden;
  }

}

.room-card:hover{

  background-color: rgba(0, 0, 0, 0.1);

}

.room-card-description{
  display: inline-block;
  vertical-align: top;
  width: calc(100% - 55px);
  padding-left: 10px;
}


//=========
.control{
//  background-color: #4CDB4C;
  height: calc(100vh - 50px);
  overflow: auto;
  border-right: 1px solid $border-color;
  width: 320px;
}

span.explore {
    font-size: 20px;
    text-align: center;
    display: block;
    cursor: pointer;
    margin: 10px 0px;
    background-color: #FAFAFA;
    img {
    height: 50px;
    padding: 7px 0;
    cursor: pointer;
    }
}


.containerd{
  margin-top: 50px;
}

.chat{
  height: calc(100vh - 50px);
  padding-right: 5px;
  width: calc(100% - 320px);
}

#chat-container{
  overflow-y: scroll;
  height: calc(100vh - 155px);
  width: 100%;
}

#chat-container.full-height{
  height: calc(100vh - 105px);
}

.ban-mode{

-webkit-box-shadow: inset 0px 1px 82px 1px rgba(240,0,0,1);
-moz-box-shadow: inset 0px 1px 82px 1px rgba(240,0,0,1);
box-shadow: inset 0px 1px 82px 1px rgba(240,0,0,1);

}

.ban-mode .message-content:hover{

  cursor: pointer;
  background-color: rgba(0,0,0,0.1);

}

.chat-head{

  border-bottom: 1px solid $border-color;
  height: 50px;
}

.room-actions{
  float: right;
  margin-right: 15px;
  img{
    height: 50px;
//    background-color: #00cc00;
    padding: 7px 0;
    margin: 0 5px;
    cursor: pointer;
  }
}

.chat-title{
  margin: 0;
  padding: 10px 0;
  font-weight: normal;
  font-size: 25px;
  display: inline-block;
}

.hotlink-area{
  position: absolute;
  font-size: 18px;
  color: #555;
  text-align: center;
  left: 0;
  right: 0;
  background-color: #eee;
}


.chat-insert{

  position: absolute;
  bottom: 0;
  width: 100%;
  /* margin: 10px 0; */
  padding: 0;
  left: 0;

  textarea{
  outline: none;
  resize: none;
  width: 100%;
  border: none;
  border-top: 1px solid $border-color;
  padding: 14px 17px 11px;
  font-size: 125%;
//  border-radius: 7px;
  }
}

form{
  img{
    width: 150px;
    height: 150px;
    border-radius: 50%;
    display: block;
    margin: 0 auto 10px;
    border: 1px solid $border-color;
  }
}


.form-username{

  background-color: #009C00;
  color: #fff;
  padding: 10px 30px 11px;
  h2{
    margin: 5px 0 10px;
  }

  h3{
    margin: 0 7px;
    display: inline-block;
    font-weight: normal;
  }

  form{
    display: inline-block;
  }
  input{
    color: #333;
    width: 200px;
    display: inline-block;
    outline: none;
    resize: none;
    border: none;
    padding: 7px 7px 4px 7px;
    font-size: 125%;
    border-radius: 5px;
  }

}

.login-button{
  float: right;
  font-size: 20px;
  padding: 11px;
  cursor: pointer;
}

.form-login{
//  margin: 10px 0;

div{
  display: inline-block;
}

}

*::-webkit-scrollbar-track {
    background: #fff;
}
*::-webkit-scrollbar {
    width: 8px!important;
}
*::-webkit-scrollbar-thumb {
    background-color: rgba(0,0,0,.4);
}

.message{

  margin: 10px 0;
  overflow: hidden;
}

.message-user-photo{

  display: inline-block;
  width: 50px;
  vertical-align: top;
  margin-top: 5px;

 img{
  width: 40px;
  height: 40px;
  border-radius: 50%;
  }

}

.message-info-content{
  width: calc(100% - 55px);
  display: inline-block;
//  max-height: 400px;
//  overflow: hidden;
  max-width: 700px;
  font-size: 15px;

}

.message-user-name{
  display: inline;
  vertical-align: top;
  font-weight: bold;
}

.message-content{
  display: inline-block;
  width: 100%;
  line-height: 1.38;
  word-break: break-word;

  p{
    margin: 0;
  }

  img{
    max-height: 30vh;
    max-width: 100%;
    border-radius: 3px;
    transition: all 0.1s linear;
    cursor: pointer;
  }

  img.expanded{
    max-height: calc(100vh - 160px);
  }

  video{
    max-width: 100%;
    max-height: 30vh;
  }

}

.message-content + .message-content {
    padding-top: 5px;
}

.message-time{

color: #9F9F9F;
margin-left: 3px;
}


.side-head{

  border-bottom: 1px solid $border-color;
  margin-left: -15px;
  padding-left: 15px;
  margin-bottom: 10px;
  height: 50px
}

.side-title{
  margin: 0;
  padding: 10px 0;
  font-weight: normal;
  font-size: 25px;
  display: inline-block;
}

.side-actions{
  float: right;
  img{
    height: 50px;
//    background-color: #00cc00;
    padding: 7px 0;
    cursor: pointer;
  }
}

.side-back, .room-back{
  float: left;
  img{
    height: 50px;
//    background-color: #00cc00;
    padding: 10px 0;
    margin: 0 10px 0 0px;
    cursor: pointer;
  }
}

.side-action-list{
font-size: 20px;
text-align: center;
cursor: pointer;
font-weight: 200;
}

.room-tab{
  cursor: pointer;
  font-size: 16px;
  padding: 5px 10px;
  margin: 3px 0;
  @include user-select;
  border-radius: 5px;
  transition: all 0.1s ease-in-out;
}

.room-tab:hover{
  background-color: #f5f5f5;
}

.room-pick{
  cursor: pointer;
  font-size: 16px;
  padding: 3px 10px;
  @include user-select;
}


.room-tab-active{
  background-color: $primary-color !important;
  color: #fff;
  font-weight: bold;
}

.room-tab-new{
  background-color: #FF9C19;
  color: #fff;
}

.room{
  display: none;
}

.room-active{
  display: block !important;
}
