@media (max-width:991px){/* MOBILE */

  .hidden-mobile{
    display: none !important;
  }

  .chat{
    width: 100%;
    padding-right: 0;
  }

  .room-card{
    margin: 4px 0 0;
    width: 100%;
  }

  .room-tab{
    cursor: pointer;
    font-size: 19px;
    padding: 5px 10px;
    margin: 0;
    transition: all 0.1s ease-in-out;
  }

  .control{
    width: 100%
  }

  .room-popular{
    padding: 0;
    margin: 0 0 10px;
  }

  .form-new-user{

    form{
      width: 100%;
      margin-bottom: 7px;
    }

    input{
      width: 100%;
    }

  }

  .form-login{

    text-align: right;

    input{
      margin-bottom: 10px;
    }

  }

  .login-button{
    float: right;
    color: #fff;
    font-size: 20px;
    padding: 11px;
  }

  *::-webkit-scrollbar {
    width: 5px !important;
}

}
@media (min-width:991px){/* MOBILE */

  .hidden-desktop{
    display: none;
  }

}
