$border-color: #DEE1E5;

@media (max-width:991px){/* MOBILE */

  .alert-card{
    width: 100%;
  }

  .hidden-mobile{
    display: none !important;
  }

  .top-bar{
    display: none;
  }

  .containerd{
    margin: 0
  }

  .chat{
    width: 100%;
    padding-right: 0;
    height: 100vh;
  }

  .landing{
    padding: 0;
    margin-top: -1px;
  }

  .landing-intro{
    padding-right: 15px;
  }

  #chat-container{
    height: calc(100vh - 106px);
    padding-right: 8px;
  }

  #chat-container.full-height{
    height: calc(100vh - 50px);
  }

  .control{
    height: 100vh;
  }

  .side-back img, .room-back img {
    padding: 6px 0;
}

  .room-card{
    padding: 0;
    margin: 0;
    width: 100%;
    p {
      font-size: 16px;
      line-height: 1.24;
      height: 19px;
      overflow: hidden;
      text-overflow: ellipsis;
      word-wrap: normal;
    }

    h6{
      margin: 0 0 7px;
      font-size: 16px;
    }

    img{
      margin-top: 10px;
    }

  }

  .room-card-description {
    border-top: 1px solid #F3F4F5;
    padding: 13px 0px 13px 10px;
}

  .room-tab{
    font-size: 20px;
    padding: 15px 10px;
    margin: 10px 0;
  }

  .control{
    width: 100%
  }

  .room-popular{
    padding: 0;
  }

  .form-new-user{

    form{
      width: 100%;
      margin-bottom: 7px;
    }

    input{
      width: 100%;
    }

  }

  .form-login{

    text-align: right;

    input{
      margin-bottom: 10px;
    }

  }

  .form-username{
    padding: 5px 30px 0;
  }

  *::-webkit-scrollbar {
    width: 5px !important;
}


  .side-actions, .room-actions{
    img{
      padding: 6px 3px;
      margin: 0;
      cursor: pointer;
    }
  }

.room-actions{
  margin-right: 15px;
}

}
@media (min-width:991px){/* MOBILE */

  .hidden-desktop{
    display: none;
  }

}
